<%
var settings = require('ep_etherpad-lite/node/utils/Settings')
%>
<!DOCTYPE html>
<html>
<head>
<title>Ether-o-meter | <%= settings.title %></title>
<style>
* {
  font-family: sans-serif;
  color: #999;
}
#gauges {
  margin: 0 auto;
  width: 10cm;
}
#footer {
  margin: 1cm auto;
  max-width: 10cm;
}
</style>
</head>
<body>
<h1><%= settings.title %> metrics</h1>
<div id="gauges"></div>
<div id="footer">Proudly presented by <a href="https://github.com/marcelklehr/ep_ether-o-meter">ether-o-meter</a> using <a href="http://justgage.com">justGage</a>.</div>
</body>
<script src="metrics/static/js/justGage/raphael.2.1.0.min.js"></script>
<script src="metrics/static/js/justGage/justgage.1.0.1.min.js"></script>
<script>
/*!
 * ep_ether-o-meter
 * Copyright 2012 by Marcel Klehr <mklehr@gmx.net>
 *
 * (MIT LICENSE)
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 * 
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 * 
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
 *
 * This software makes use of other software: raphael and justgage. see the
 * corresponding files to find their respective licenses.
 */

function getStats() {
  x = new XMLHttpRequest;
  x.open('get', 'stats', false);
  x.send();
  return JSON.parse(x.response)
}
</script>
<script>
  window.onload = function(){
    
    var gauges = {}
    setInterval(function() {
      var stats = getStats()
      
      Object.keys(stats).forEach(function(gauge) {
        var jg, mean, gaugeId

        if(Number.isInteger(stats[gauge])) {
          // gauge already exists
          if(gauges[gauge]) return gauges[gauge](stats[gauge])
          
          jg = createGauge(gauge)
          if(gauge=='memoryUsage') jg.originalValue = stats[gauge]
          mean = stats[gauge]
          gauges[gauge] = function(val) {
            mean = gauge=='memoryUsage'? jg.originalValue: (mean * 2 + val)/3
            jg.config.max = mean*2
            jg.refresh(val)
          }
          gauges[gauge](stats[gauge])
          return
        }
        
        // meter
        if(stats[gauge]['15MinuteRate']) {
          gaugeId = gauge+'/sec'
          console.log(gauge)
          if(!gauges[gaugeId]) {
            mean = stats[gauge].currentRate
            jg = createGauge(gaugeId)
            gauges[gaugeId] = function(g) {
              var val = g.currentRate
              mean = (mean * 2 + stats[gauge]["15MinuteRate"])/3
              jg.config.max = mean*2
              jg.refresh(round(val,-3))
            }
          }
          gauges[gaugeId](stats[gauge])
          return
        }
        
        // meter
        if(stats[gauge].meter) {
          gaugeId = gauge+'/sec'
          if(!gauges[gaugeId]) {
            mean = stats[gauge].meter.currentRate
            jg = createGauge(gaugeId)
            gauges[gaugeId] = function(g) {
              var val = g.meter.currentRate
              mean = (mean * 2 + stats[gauge].meter["15MinuteRate"])/3
              jg.config.max = mean*2
              jg.refresh(round(val,-3))
            }
          }
          gauges[gaugeId](stats[gauge])
        }
        
        // histogram
        if(stats[gauge].p95) {
          gaugeId = gauge+'(time[ms])'
          if(!gauges[gaugeId]) {
            var hgmean = stats[gauge].mean
            var hjg = createGauge(gaugeId)
            gauges[gaugeId] = function(g) {
              var val = g.mean
              hgmean = (hgmean * 2 + stats[gauge].p95)/3
              hjg.config.max = hgmean*2
              hjg.refresh(round(val, -3))
            }
          }
          gauges[gaugeId](stats[gauge])
          return
        }
        
        // histogram
        if(stats[gauge].histogram) {
          gaugeId = gauge+'(time[ms])'
          if(!gauges[gaugeId]) {
            var hgmean = stats[gauge].histogram.mean
            var hjg = createGauge(gaugeId)
            gauges[gaugeId] = function(g) {
              var val = g.histogram.mean
              hgmean = (hgmean * 2 + stats[gauge].histogram.p95)/3
              hjg.config.max = hgmean*2
              hjg.refresh(round(val, -3))
            }
          }
          gauges[gaugeId](stats[gauge])
        }
      })
    }, 2500);
    
  };

function createGauge(name) {
  var div = document.createElement('DIV')
  div.setAttribute('id', name)
  div.setAttribute('class', 'gauge')
  document.getElementById('gauges').appendChild(div)
  var jg = new JustGage({
          id: name,
          title: name,
          label: "",
          showMinMax: false,
          levelColorsGradient: true,
          levelColors: ["#a9d70b", "#a9d70b", /*"#f9c802",*/ "#ff0000"]
        })
  return jg
}

// Proper round implementation: exp is the number of digits that you want to round (use negative values to reach floating point digits)
// i.e. round(5.123456, -2) = 5.12
function round(num, exp) {
  return Math.round(num)
  return Math.round(num/Math.pow(10, exp))*Math.pow(10, exp)
}
</script>
</html>